html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.active-guess-container {

}

.active-guess-character {
    border-bottom: 1px solid black;
    width: 50px;
    height: 50px;
    line-height: 50px;
}

.guess-history-container {
    margin-top: 2em;
    margin-left: auto;
    margin-right: auto;
}

.wordle-row {
    display: flex;
    justify-content: space-around;
    max-width: 300px;

    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
}

.wordle-character {
    border: 1px solid black;
    border-radius: 1px;
    width: 50px;
    height: 50px;
    line-height: 50px;
    color: white;
}

.keyboard-container {
    margin-top: 2em;
}

.keyboard-row {
    display: flex;
    justify-content: center;
    max-width: 300px;

    margin-left: auto;
    margin-right: auto;
}

.keyboard-btn { 
    min-width: 50px;
}

.exact-match {
    background-color: green;
}

.partial-match {
    background-color: goldenrod;
}

.no-match {
    background-color: dimgrey;
}

.victory-anim {
    animation-name: victory;
    animation-duration: 1s;
}

@keyframes victory {
    from {
        transform: rotate(0deg);
        scale: 200%;
    }
    to {
        transform: rotate(360deg);
        scale: 100%;
    }
}